include ../../components/button/button

mixin card-modal(params)
  -
    const img_background = `modal__img--${params.img_background}`
    const info_background = `modal__info--${params.info_background}`

  div.modalCard(class=attributes.class id=attributes.id)= title
    div.modalCard__img(class=img_background)
      img(src=params.img, alt="").modalCard__img-cont
      div.modalCard__img-tags
        +btn('Grass')(class="card__tags-item btn--small btn--green").modalCard__img-cont-tags-item
        +btn('Poison')(class="card__tags-item btn--small btn--blue").modalCard__img-cont-tags-item
    div.modalCard__info(class=info_background)
      div.modalCard__info-title
        p.modalCard__info-title-name= params.name
        p.modalCard__info-title-gen= params.gen
        p.modalCard__info-title-id= params.id
      div.modalCard__info-abil-small
        p Abilities
        p= params.abil
      div.modalCard__info-abil-big
        div.modalCard__info-abil-big-item
          p Healthy Points
          p.modalCard__info-abil-big-points-health= params.healthy_points
          img(src="../../assets/images/CardChargeGreen.png", alt="")
        div.modalCard__info-abil-big-item
          p Experience 
          p.modalCard__info-abil-big-points-exp= params.exp_points
          img(src="../../assets/images/CardChargeYellow.png", alt="")
      div.modalCard__info-prop
        div.modalCard__info-prop-item
          p.modalCard__info-prop-item-points= params.def_points 
          p Defense
        div.modalCard__info-prop-item
          p.modalCard__info-prop-item-points= params.attack_points 
          p Attack 
        div.modalCard__info-prop-item
          p.modalCard__info-prop-item-points= params.sp_attack_points 
          p Sp Attack
        div.modalCard__info-prop-item
          p.modalCard__info-prop-item-points= params.sp_def_points 
          p Sp Defense  



      
